---
subject: My Hero Email Template Subject
---

<!-- <wrapper class="header">
  <container>
    <row class="collapse">
      <columns small="6">
        <img src="http://placehold.it/200x50/663399">
      </columns>
      <columns small="6">
        <p class="text-right">HERO</p>
      </columns>
    </row>
  </container>
</wrapper> -->

<container>

  <row style="padding:0; margin:0;">
    <columns small="12" large="12" style="padding:0; margin:0;">
      <a href="https://www.google.ca/" target="_blank" title="" alias=""><img src="http://preview.publicis.ca/CanadaPost/CPC170197-D/header-reg.jpg" alt=""></a>
    </columns>
  </row>
  <br>
  <row>
    <columns small="1" large="1"></columns>
    <columns small="10" large="10">
      <p><strong>Dear &lt;Firstname&gt;,</strong></p>
      <p>Each year, one of my favourite events to attend is Think INSIDE the Box, an inspiring day of marketing innovation and insights, hosted by our friends at Canada Post. I encourage you to read Canada Post’s blog for a taste of the great thinking that was shared during the day. </p>
      <p>This year, seven experts discussed a wide range of topics, including: the resurgence of analog ideas in a digital age, the psychology of choice, and marketing to millennials. This was a great opportunity to learn how integrating physical experiences like direct mail into digital marketing breaks through the clutter and engages customers more meaningfully.</p>
      <p><strong>Key Takeaways:</strong></p>
      <ul>
        <li><strong>Why analog is still important in a digital world</strong></li>
        <li><strong>How physicality engages customers</strong></li>
        <li><strong>How to seamlessly combine direct mail with digital marketing and amplify your results</strong></li>
      </ul>
      <p><a href="Take a moment to check out Canada Post’s blog and get inspired for 2018." title="" alias="">Take a moment to check out Canada Post’s blog and get inspired for 2018.</a></p>
      <p>Sincerely,<br /><strong>Sarah O’Connor</strong><br />Editor, Direct Marketing Magazine</p>
      <img src="http://preview.publicis.ca/CanadaPost/CPC170197-D/dmmag_logo.jpg" style="width: 100px;" />
    </columns>
    <columns small="1" large="1"></columns>
  </row>

  <row style="background-color: #000;">
    <columns small="1" large="1"></columns>
    <columns small="10" large="10">
      <br>
      <p style="background-color: #000; color: #cccccc; font-size: 12px; color: #cccccc;">Copyright © 2017, Direct Marketing Magazine All Rights Reserved.</p>
    </columns>
    <columns small="1" large="1"></columns>
  </row>

</container>
